<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2021 TNO/ESI
  This program and the accompanying materials
  are made available under the terms of the Eclipse Public License 2.0
  which accompanies this distribution, and is available at
  https://www.eclipse.org/legal/epl-2.0/
  SPDX-License-Identifier: EPL-2.0
  Contributors:
     TNO/ESI - initial API and implementation
     Obeo - refactoring
-->
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.poosl.pooslproject"
            name="POOSL">
      </category>
      <wizard
            category="org.eclipse.poosl.pooslproject"
            class="org.eclipse.poosl.pooslproject.PooslNewProjectWizard"
            finalPerspective="org.eclipse.poosl.normalperspective"
            icon="icons/add_poosl_project.gif"
            id="org.eclipse.poosl.pooslproject.projectwizard"
            name="POOSL Project"
            preferredPerspectives="org.eclipse.poosl.normalperspective"
            project="true">
      </wizard>
      <wizard
            category="org.eclipse.poosl.pooslproject"
            class="org.eclipse.poosl.pooslproject.PooslNewModelWizard"
            finalPerspective="org.eclipse.poosl.normalperspective"
            icon="icons/add_poosl_file.gif"
            id="org.eclipse.poosl.pooslproject.filewizard"
            name="POOSL Model"
            preferredPerspectives="org.eclipse.poosl.normalperspective"
            project="false">
      </wizard>
       <wizard
            category="org.eclipse.poosl.pooslproject"
            class="org.eclipse.poosl.pooslproject.PooslNewModelWithSystemWizard"
            finalPerspective="org.eclipse.poosl.normalperspective"
            icon="icons/add_poosl_file.gif"
            id="org.eclipse.poosl.pooslproject.filewithsystemwizard"
            name="POOSL Model with System"
            preferredPerspectives="org.eclipse.poosl.normalperspective"
            project="false">
      </wizard>
   </extension>
 
    <extension point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.poosl.pooslproject.PooslEditPerspective"
            icon="icons/poosl_perspective.png"
            id="org.eclipse.poosl.normalperspective"
            name="POOSL Edit">
      </perspective>
   </extension>
   
   	<extension point="org.eclipse.ui.navigator.navigatorContent"> 
		<commonWizard type="new" wizardId="org.eclipse.poosl.pooslproject.projectwizard"> 
	        <enablement> 
				<with
					variable="activeWorkbenchWindow.activePerspective">
						<equals value="org.eclipse.poosl.normalperspective" />
				</with>
	        </enablement>
		</commonWizard>
  		<commonWizard type="new" wizardId="org.eclipse.poosl.pooslproject.filewizard">
     		<enablement>
        		<with variable="activeWorkbenchWindow.activePerspective">
           			<equals value="org.eclipse.poosl.normalperspective" />
        		</with>
     		</enablement>
  		</commonWizard> 
   </extension>
 
   <!-- This extension can be used to add a Poosl project icon to the projects in the resource viewer.
   However this is not yet supported by xtext because they use a image decorator instead of the projectnatureimages extension point.
	<extension
       id="org.eclipse.poosl.rotalumisclient.pooslnature"
       name="POOSL Nature"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run
             class="org.eclipse.poosl.rotalumisclient.PooslNature">
       </run>
    </runtime>
 </extension>
 <extension
       point="org.eclipse.ui.ide.projectNatureImages">
    <image
          icon="icons/poosl_project.gif"
          id="org.eclipse.poosl.rotalumisclient.pooslnatureimage"
          natureId="org.eclipse.poosl.rotalumisclient.pooslnature">
    </image>
 </extension> -->
 
 
</plugin>
