<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="nl.esi.poosl.rotalumisclient.debuginformer" name="DebugInformer" schema="schema/nl.esi.poosl.rotalumisclient.debuginformer.exsd"/>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="nl.esi.poosl.rotalumisclient.launch.LaunchDelegate"
            delegateName="Rotalumis"
            id="nl.esi.poosl.rotalumisclient.PooslLaunchConfiguration"
            modes="run, debug"
            name="POOSL Simulation"
            public="true"
            sourceLocatorId="nl.esi.poosl.rotalumisclient.SourceLocator">
      </launchConfigurationType>
   </extension>
  <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="nl.esi.poosl.rotalumisclient.launch.LaunchDelegate"
            delegateName="RotalumisTest"
            id="nl.esi.poosl.rotalumisclient.PooslTestLaunchConfiguration"
            modes="run"
            name="POOSL Tests"
            public="true"
            sourceLocatorId="nl.esi.poosl.rotalumisclient.SourceLocator">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="nl.esi.poosl.rotalumisclient.launch.LaunchConfigurationPooslTabGroup"
            helpContextId="nl.esi.poosl.help.help_debug_configuration"
            id="nl.esi.poosl.rotalumisclient.launchConfigurationPooslTabGroup"
            type="nl.esi.poosl.rotalumisclient.PooslLaunchConfiguration">
         <launchMode
               mode="debug"
               perspective="nl.esi.poosl.debugperspective">
         </launchMode>
         <launchMode
               mode="run"
               perspective="nl.esi.poosl.normalperspective">
         </launchMode>
   		</launchConfigurationTabGroup>    
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
            class="nl.esi.poosl.rotalumisclient.launch.LaunchTestConfigurationPooslTabGroup"
            helpContextId="nl.esi.poosl.help.help_debug_configuration"
            id="nl.esi.poosl.rotalumisclient.launchTestConfigurationPooslTabGroup"            
            type="nl.esi.poosl.rotalumisclient.PooslTestLaunchConfiguration">
         <launchMode
               mode="run"
               perspective="nl.esi.poosl.normalperspective">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="nl.esi.poosl.rotalumisclient.launch.LaunchShortcut"
            icon="icons/poosl_simulation.gif"
            id="nl.esi.poosl.rotalumisclient.launchShortcut"
            label="POOSL Simulation"
            modes="run,debug">
         <configurationType
               id="nl.esi.poosl.rotalumisclient.PooslLaunchConfiguration">
         </configurationType>
         <contextualLaunch>
            <contextLabel
                  label="POOSL Simulation"
                  mode="run">
            </contextLabel>
            <contextLabel
                  label="POOSL Simulation"
                  mode="debug">
            </contextLabel>
            <enablement>
               <with
                     variable="selection">
               </with>
               <count
                     value="1">
               </count>
               <iterate>
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                     <test
                           property="org.eclipse.core.resources.name"
                           value="*.poosl">
                     </test>
                  </adapt>
               </iterate>
            </enablement></contextualLaunch>
      </shortcut>
   </extension>
    <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="nl.esi.poosl.rotalumisclient.launch.LaunchTestShortcut"
            icon="icons/poosl_test.gif"
            id="nl.esi.poosl.rotalumisclient.launchTestShortcut"
            label="POOSL Tests"
            modes="run">
         <configurationType
               id="nl.esi.poosl.rotalumisclient.PooslTestLaunchConfiguration">
         </configurationType>
         <contextualLaunch>
            <contextLabel
                  label="POOSL Tests"
                  mode="run">
            </contextLabel>
            <enablement>
               <with
                     variable="selection">
               </with>
               <count
                     value="1">
               </count>
               <iterate>
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                     <test
                           property="org.eclipse.core.resources.name"
                           value="*.poosl">
                     </test>
                  </adapt>
               </iterate>
            </enablement></contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="nl.esi.poosl.rotalumisclient.PooslLaunchConfiguration"
            icon="icons/poosl_simulation.gif"
            id="nl.esi.poosl.rotalumisclient.PooslLaunchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>  
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="nl.esi.poosl.rotalumisclient.PooslTestLaunchConfiguration"
            icon="icons/poosl_test.gif"
            id="nl.esi.poosl.rotalumisclient.PooslTestLaunchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>    
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="nl.esi.poosl.rotalumisclient.debug.PooslCommandHandler"
            id="nl.esi.poosl.rotalumisclient.stepcommand"
            name="Step">
         <commandParameter
               id="nl.esi.poosl.rotalumisclient.stepcommand.steptype"
               name="Steptype"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="nl.esi.poosl.rotalumisclient.views.PooslViewButtonHandler"
            id="nl.esi.poosl.rotalumisclient.views.diagram.viewaction"
            name="Diagram view action">
         <commandParameter
               id="nl.esi.poosl.rotalumisclient.views.diagramviewaction"
               name="View action"
               optional="false">
         </commandParameter>
         <state
               class="org.eclipse.jface.commands.ToggleState:True"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            defaultHandler="nl.esi.poosl.rotalumisclient.views.PooslViewButtonHandler"
            id="nl.esi.poosl.rotalumisclient.views.diagram.setupaction"
            name="Diagram setup action">
         <state
               class="org.eclipse.jface.commands.ToggleState:True"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            defaultHandler="nl.esi.poosl.rotalumisclient.views.debugview.PooslDebugButtonHandler"
            id="nl.esi.poosl.rotalumisclient.views.debug.clearlaunches"
            name="Remove All Terminated Launches">
      </command>
        <command
            defaultHandler="nl.esi.poosl.rotalumisclient.views.debugview.PooslDebugButtonHandler"
            id="nl.esi.poosl.rotalumisclient.views.debug.closethreadwindows"
            name="Close All Process Windows">
      </command>
      
      <category
            id="nl.esi.poosl.rotalumisclient.stepcommands"
            name="POOSL Step Commands">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="nl.esi.poosl.rotalumisclient.debugtoolbar"
               label="POOSL debug toolbar">
            <command
                  commandId="nl.esi.poosl.rotalumisclient.stepcommand"
                  icon="icons/icon_step.png"
                  style="push"
                  tooltip="Step">
               <parameter
                     name="nl.esi.poosl.rotalumisclient.stepcommand.steptype"
                     value="step">
               </parameter>
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="nl.esi.poosl.debugperspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="nl.esi.poosl.rotalumisclient.stepcommand"
                  icon="icons/icon_time_step.png"
                  style="push"
                  tooltip="Time Step">
               <parameter
                     name="nl.esi.poosl.rotalumisclient.stepcommand.steptype"
                     value="timestep">
               </parameter>
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="nl.esi.poosl.debugperspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="nl.esi.poosl.rotalumisclient.stepcommand"
                  icon="icons/icon_comm_step.png"
                  style="push"
                  tooltip="Communication Step">
               <parameter
                     name="nl.esi.poosl.rotalumisclient.stepcommand.steptype"
                     value="commstep">
               </parameter>
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="nl.esi.poosl.rotalumisclient.expressions.checkperspective">
                  </reference>
               </visibleWhen>
            </command>
              <command
               commandId="nl.esi.poosl.rotalumisclient.views.diagram.setupaction"
               icon="/icons/icon_record_envelope_toolbar.png"
               style="toggle"
               tooltip="Record Communications (for Sequence Diagram and Communication Diagram)">
                        <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="nl.esi.poosl.rotalumisclient.expressions.checkperspective">
                  </reference>
               </visibleWhen>
         </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:nl.esi.poosl.views.sequencediagramview">      
         <command
               commandId="nl.esi.poosl.rotalumisclient.views.diagram.viewaction"
               icon="/icons/icon_clear_co.png"
               style="push"
               tooltip="Clear Messages">
            <parameter
                  name="nl.esi.poosl.rotalumisclient.views.diagramviewaction"
                  value="clearview">
            </parameter>
         </command>
         <command
               commandId="nl.esi.poosl.rotalumisclient.views.diagram.viewaction"
               icon="/icons/icon_lock_co.png"
               style="toggle"
               tooltip="Enable / Disable Scroll Lock">
            <parameter
                  name="nl.esi.poosl.rotalumisclient.views.diagramviewaction"
                  value="scrolllock">
            </parameter>
         </command>
         <command
               commandId="nl.esi.poosl.rotalumisclient.views.diagram.viewaction"
               icon="/icons/settings.png"
               style="push"
               tooltip="Open Settings">
            <parameter
                  name="nl.esi.poosl.rotalumisclient.views.diagramviewaction"
                  value="settings">
            </parameter>
         </command>
      </menuContribution>  
      <menuContribution
            allPopups="false"
            locationURI="toolbar:nl.esi.poosl.views.debugview">
         <command
               commandId="nl.esi.poosl.rotalumisclient.views.debug.clearlaunches"
               icon="/icons/icon_removeall.png"
               style="push"
               tooltip="Remove All Terminated Launches">
         </command>
          <command
               commandId="nl.esi.poosl.rotalumisclient.views.debug.closethreadwindows"
			   icon="icons/icon_close_process_windows.png"
               style="push"
               tooltip="Close All Process Windows">
         </command>
      </menuContribution> </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="nl.esi.poosl.views"
            name="POOSL IDE">
      </category>
      <view
            category="nl.esi.poosl.views"
            class="nl.esi.poosl.rotalumisclient.views.PooslPETView"
            icon="icons/pet.gif"
            id="nl.esi.poosl.views.petview"
            name="Execution Tree"
            restorable="true">
      </view>
      <view
            category="nl.esi.poosl.views"
            class="nl.esi.poosl.rotalumisclient.views.PooslVariablesView"
            icon="/icons/icon_variable_view.png"
            id="nl.esi.poosl.views.variablesview"
            name="Variables"
            restorable="true">
      </view>
      <view
            category="nl.esi.poosl.views"
            class="nl.esi.poosl.rotalumisclient.views.PooslSequenceDiagramView"
            icon="icons/sequence_diagram_view.png"
            id="nl.esi.poosl.views.sequencediagramview"
            name="Sequence Diagram"
            restorable="true"> 
      </view>
      <view
            category="nl.esi.poosl.views"
            class="nl.esi.poosl.rotalumisclient.views.debugview.PooslDebugView"
            icon="/icons/icon_debug_view.png"
            id="nl.esi.poosl.views.debugview"
            name="Debug"
            restorable="true"> 
      </view>
      <view
            category="nl.esi.poosl.views"
            class="nl.esi.poosl.rotalumisclient.views.stacktraceview.StackTraceView"
            icon="/icons/icon_debug_view.png"
            id="nl.esi.poosl.views.stacktraceview"
            name="StackTrace"
            restorable="true">
      </view>
      <view
            category="nl.esi.poosl.views"
            class="nl.esi.poosl.rotalumisclient.views.stacktraceview.StackTraceVariableView"
            icon="/icons/icon_debug_view.png"
            id="nl.esi.poosl.views.stacktracevariableview"
            name="StackTrace Variables"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="nl.esi.poosl.rotalumisclient.perspectives.PooslDebugPerspective"
            icon="/icons/icon_debug_view.png"
            id="nl.esi.poosl.debugperspective"
            name="POOSL Debug">
      </perspective>
      <perspective
            class="nl.esi.poosl.rotalumisclient.perspectives.PooslEditPerspective"
            icon="icons/poosl_perspective.png"
            id="nl.esi.poosl.normalperspective"
            name="POOSL Edit">
      </perspective>
   </extension>
	<extension point="org.eclipse.ui.navigator.navigatorContent"> 
		<commonWizard type="new"
		        wizardId="nl.esi.poosl.pooslproject.projectwizard"> 
		        <enablement> 
					<with
						variable="activeWorkbenchWindow.activePerspective">
							<equals
								value="nl.esi.poosl.normalperspective">
							</equals>
					</with>
		        </enablement> 
		</commonWizard>
  <commonWizard
        type="new"
        wizardId="nl.esi.poosl.pooslproject.filewizard">
     <enablement>
        <with
              variable="activeWorkbenchWindow.activePerspective">
           <equals
                 value="nl.esi.poosl.normalperspective">
           </equals>
        </with>
     </enablement>
  </commonWizard> 
    </extension>
    <extension
          point="org.eclipse.debug.core.sourceLocators">
       <sourceLocator
             class="nl.esi.poosl.rotalumisclient.debug.PooslSourceLocator"
             id="nl.esi.poosl.rotalumisclient.SourceLocator"
             name="POOSL Source Locator">
       </sourceLocator>
    </extension>
    <extension
          point="org.eclipse.debug.ui.debugModelPresentations">
       <debugModelPresentation
             class="nl.esi.poosl.rotalumisclient.debug.PooslDebugModelPresentation"
             id="nl.esi.poosl.rotalumisclient.DebugModelPresentation">
       </debugModelPresentation>
    </extension>
    <extension
          id="pooslLineBreakpointMarker"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.debug.core.lineBreakpointMarker">
       </super>
       <persistent
             value="true">
       </persistent>
    </extension>
    <extension
          point="org.eclipse.debug.core.breakpoints">
       <breakpoint
             class="nl.esi.poosl.rotalumisclient.breakpoint.PooslLineBreakpoint"
             id="nl.esi.poosl.rotalumisclient.breakpoint.PooslLineBreakpoint"
             markerType="nl.esi.poosl.rotalumisclient.pooslLineBreakpointMarker">
       </breakpoint>
    </extension>
    <extension
		point="org.eclipse.core.runtime.adapters">
		<factory
			adaptableType="nl.esi.poosl.xtext.ui.PooslEditor"
			class="nl.esi.poosl.rotalumisclient.breakpoint.PooslBreakpointAdapterFactory">
			<adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
			</adapter>
		</factory>
   	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="nl.esi.poosl.xtext.Poosl"
			class="nl.esi.poosl.rotalumisclient.preferences.DebugPreferencePage"
			id="nl.esi.poosl.rotalumisclient.preferences.debugpreferences"
			name="Simulator">
		</page>
  <page
        category="nl.esi.poosl.xtext.Poosl"
        class="nl.esi.poosl.rotalumisclient.preferences.SequenceDiagramPreferencePage"
        id="nl.esi.poosl.rotalumisclient.preferences.sequencediagrampreferences"
        name="Sequence Diagram">
  </page>
	</extension>
 <extension
       point="org.eclipse.debug.ui.detailPaneFactories">
    <detailFactories
          class="nl.esi.poosl.rotalumisclient.views.PooslVariableDetailPaneFactory"
          id="nl.esi.poosl.rotalumisclient.PooslDetailPaneFactory">
       <enablement>
          <with
                variable="selection">
             <count
                   value="1">
             </count>
             <iterate
                   ifEmpty="false">
                <instanceof
                      value="nl.esi.poosl.rotalumisclient.debug.PooslVariable">
                </instanceof>
             </iterate>
          </with>
       </enablement>
    </detailFactories>
 </extension>
 <extension
       point="org.eclipse.core.expressions.definitions">
    <definition
          id="nl.esi.poosl.rotalumisclient.expressions.checkperspective">
       <with
             variable="activeWorkbenchWindow.activePerspective">
          <equals
                value="nl.esi.poosl.debugperspective">
          </equals>
       </with>
    </definition>
 </extension>
 <extension
       point="org.eclipse.ui.bindings">
    <key
          commandId="nl.esi.poosl.rotalumisclient.stepcommand"
          contextId="nl.esi.poosl.rotalumisclient.debugcontext"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="F5">
       <parameter
             id="nl.esi.poosl.rotalumisclient.stepcommand.steptype"
             value="step">
       </parameter>
    </key>
    <key
          commandId="nl.esi.poosl.rotalumisclient.stepcommand"
          contextId="nl.esi.poosl.rotalumisclient.debugcontext"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="F6">
       <parameter
             id="nl.esi.poosl.rotalumisclient.stepcommand.steptype"
             value="timestep">
       </parameter>
    </key>
    <key
          commandId="nl.esi.poosl.rotalumisclient.stepcommand"
          contextId="nl.esi.poosl.rotalumisclient.debugcontext"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="F7">
       <parameter
             id="nl.esi.poosl.rotalumisclient.stepcommand.steptype"
             value="commstep">
       </parameter>
    </key>
    <key
          commandId="org.eclipse.debug.ui.commands.Resume"
          contextId="nl.esi.poosl.rotalumisclient.debugcontext"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="F8">
    </key>
    <key
          commandId="org.eclipse.debug.ui.commands.Suspend"
          contextId="nl.esi.poosl.rotalumisclient.debugcontext"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="F9">
    </key>
    <key
          commandId="org.eclipse.debug.ui.commands.Terminate"
          contextId="nl.esi.poosl.rotalumisclient.debugcontext"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="CTRL+F2">
    </key>
 </extension>
 <extension
       point="org.eclipse.ui.contexts">
    <context
          id="nl.esi.poosl.rotalumisclient.debugcontext"
          name="POOSL Debug Context"
          parentId="org.eclipse.ui.contexts.window">
    </context>
 </extension>
</plugin>
