<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>   
	<extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.poosl.examples.category"
            name="%categoryName"
            parentCategory="org.eclipse.ui.Examples">
      </category>
      <wizard
            category="org.eclipse.ui.Examples/org.eclipse.poosl.examples.category"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            icon="icons/poosl_project.gif"
            id="org.eclipse.poosl.examples.POOSLExamplesWizard"
            name="%wizardName"
            project="true">
         <description>%wizardDescription</description>
         <selection class="org.eclipse.ui.IWorkingSet" />
      </wizard>
   </extension>
   
   <extension point="org.eclipse.emf.common.ui.examples">
      <example
            id="org.eclipse.poosl.examples"
            wizardID="org.eclipse.poosl.examples.POOSLExamplesWizard">
         <projectDescriptor
               name="org.eclipse.poosl.examples.models"
               contentURI="examples/org.eclipse.poosl.examples.models/"
               description="%org.eclipse.poosl.examples.models.description"/>
         <projectDescriptor
               contentURI="examples/org.eclipse.poosl.examples.libraries/"
               description="%org.eclipse.poosl.examples.libraries.description"
               name="org.eclipse.poosl.examples.libraries">
         </projectDescriptor>
      </example>
    </extension>
</plugin>
